form {

    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;

   
    input {
        width: 100%;
        font-style: italic;
        font-size: 25px;
        border: none;
    }

    input:focus{
        border-color: red;
    } 

}

.arrow-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../../assets/grey-down-arrow-icon-png-1.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

