
.div-filters {

    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #ececec;
    justify-content: space-around;
    
}

.div-buttons {
    display: flex;
    gap: 1rem;
}

.link-btn {
    color: unset;
    text-decoration: unset;
}