ul {
    border: 1px solid #ececec;
    font-size: 25px;

    li {
        border: 1px solid #ececec;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            gap: 1rem;
        }

        button {
            color:#b83f45;
            display: none;
        }
    }

    li:hover {
        button {
            display: block;
        }
    }
        

}

.checked {
    text-decoration: line-through;
    color: gray;
}