ul {
    border: 1px solid #ececec;
    font-size: 25px;

    li {
        border: 1px solid #ececec;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        button {
            color:#b83f45;
            display: none;
        }
    }

    li:hover {
        button {
            display: block;
        }
    }
        

}

.checked {
    text-decoration: line-through;
    color: gray;
}

input[type="checkbox"]{
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid gray;
    border-radius: 100%;
}

input[type="checkbox"]:checked {
    background-image: url("../../assets/checkmark.svg");
    background-repeat: no-repeat;
    background-size: contain;
}